.TC-header {
    margin: 30px 0;
    text-align: center;
}

.TC-container {
    display: flex;
    justify-content: space-around;
    background-color: #b9a7a1;
}

.TC-container-item {
    margin-top: 5px;
}